Flask	
Flask-Login	
Flask-RESTful	
flask_sqlalchemy	
werkzeug
numpy==1.24.4
torchvision==0.16.0
pyyaml
torch==2.1.2
tensorflow==2.15.0
joblib
opencv-python
keras
matplotlib
pandas
efficientnet
mrcnn
gunicorn
psycopg2
nltk
h5py
scipy
scikit-image
keras_preprocessing
seaborn
pytest