/* Bar Chart Styles */
.chart-wrap {
  width: 650px;
  height: 600px;
  font-family: sans-serif;
}

.chart-wrap .title {
  text-align: center;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid #aaa;
}

.grid .bar {
  background-color: #F16335;
  width: 45px;
  height: var(--bar-value);
  align-self: flex-end;
  margin: 0 auto;
  border-radius: 3px 3px 0 0;
  position: relative;
  transition: all 0.3s ease;
}

.grid .bar:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.grid .bar::after {
  content: attr(data-name);
  top: -3em;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-45deg);
}

.grid.horizontal {
  flex-direction: column;
  border-bottom: none;
  border-left: 2px solid #aaa;
}

.grid.horizontal .bar {
  height: 45px;
  width: var(--bar-value);
  align-self: flex-start;
  margin: auto 0 auto 0;
  border-radius: 0 3px 3px 0;
}

.grid.horizontal .bar::after {
  top: initial;
  left: 100%;
  padding: 0 10px;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  transform: rotate(0deg);
  line-height: 45px;
}